html, body {
	background-color: #000;
  overflow-x: hidden;
}

nav {
	width: 100vw;
	background-color: #000;
	color: #fff;
	display: grid;
	grid-template-columns: 100px calc(100% - 200px - 100px) 200px;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 20px;
	height: 100px;
	font-family: "Montserrat", sans-serif;
}

nav div ul {
	padding: 0;
	margin: 0;
	height: 100px;
	text-align: center;
}

nav div img {
	width: 90px;
	height: 70px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

nav div ul li {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

nav div ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	padding: 5px 30px;
	text-transform: uppercase;
}

nav div ul li i {
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	margin: 5px 15px;
}

#listBusquedaNav input {
	width: 100%;
	height: 32px;
	box-sizing: border-box;
	padding: 5px;
	font-size: 16px;
	display: none;
	font-family: inter, sans-serif;
}

#listBusquedaNav label {
	cursor: pointer;
}

#listBusquedaNav button {
	width: 24px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 2px;
	background: none;
	border: none;
	display: none;
}

#listBusquedaNav button i {
	margin: 0;
	background-color: #000;
	border: 1px solid #000;
	border-radius: 15px;
}



main {
  font-family: "Montserrat", sans-serif;
}

main > img {
  width: 100%;
  height: auto;
  max-height: 300px;
}

main .carousel {
  position: relative;
  width: 100vw;
  height: 650px;
  padding: 50px 30px 0;
  overflow: hidden;
}

.owl-carousel, .owl-stage {
  height: 500px;
  margin: 0 auto;
}

.carousel h1, .carousel h2 {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 60px;
}

.carousel .carousel_card {
  width: 300px;
  height: 470px;
  background-color: #fff;
  padding: 20px;
  border-radius: 14px;
  margin-left: 50px;
}

.carousel_card img {
  height: 230px;
  width: 80%;
  margin-bottom: 15px;
}

.carousel_card h4 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
}

.carousel_card h5 {
  font-size: 18px;
  font-weight: 700;
}

.carousel_card p {
  overflow: hidden;
  height: 66px;
  font-size: 16px;
  margin-bottom: 10px;
}

.carousel_card button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #00add5;
  color: #00add5;
  border-radius: 32px;
  font-weight: 700;
}



.promociones {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.promociones img {
  width: 40%;
  max-width: 600px;
  min-width: 300px;
}

.promociones hr {
  color: #fff;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}



.video_promocional {
  width: 100%;
  margin-top: 50px;
  max-width: 1200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.video_promocional iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 16 / 9;
  width: 80% !important;
}



footer {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  margin-top: 40px;
  width: 95vw;
  border-top: 5px solid #fff;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #00add5;
}

footer .footer_cabecera {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer_cabecera img {
  width: 150px;
  height: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer_social li {
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

.footer_social li:last-child {
  margin-right: 15px;
}

.footer_social li i {
  font-size: 22px;
  margin-right: 5px;
}

.footer_suscripcion {
  position: relative;
  text-align: center;
}

.footer_suscripcion label {
  font-size: 18px;
  display: block;
  margin: 10px 0;
}

.footer_suscripcion div {
  position: relative;
  width: 270px;
  left: 50%;
  transform: translateX(-50%);
}

.footer_suscripcion div input {
  position: relative;
  font-size: 18px;
  width: 245px;
  height: 40px;
  padding: 10px;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
}

.footer_suscripcion div button {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: #fff;
  color: #00add5;
  border: none;
  transition: color 0.3s ease;
  width: 35px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* don't ask, just praise chatgpt */
.footer_suscripcion div input:focus, .footer_suscripcion div input:focus + button {
  outline: none;
  border-bottom: 2px solid #00add5;
  border-top: 2px solid #00add5;
}

.footer_suscripcion div button:hover {
  color: #007a99;
}

.footer_informacion {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 18px;
  margin-top: 30px;
  max-width: 1400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer_informacion div h4 {
  color: #00add5;
  font-weight: 700;
  font-size: 22px;
}

.footer_informacion div ul li {
  text-decoration: underline;
  color: #007a99;
}



@media screen and (max-width: 1100px) {
  .footer_informacion {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 780px) {
  footer .footer_cabecera {
    grid-template-columns: auto auto;
  }

  .footer_cabecera div:first-child {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .footer_informacion {
    display: block;
  }

  .footer_informacion div {
    width: 50%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  footer .footer_cabecera {
    display: block;
  }
  .footer_suscripcion {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 500px) {
  .footer_informacion div {
    width: 100%;
  }
}
