
body{
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin: 200;
  padding: 200;
}


/* estilo para el footer */

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 40px;
  justify-content: space-between;
  align-items: normal;
  display: flex;
  flex-direction: column;
}

footer a {
  color: #ffffff; 
  text-decoration: none; 
  margin-right: 10px; 
  transition: color 0.3s ease; 
}

footer a:hover {
  color: #00add5; 
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin-bottom: 20px;
}

.line {
  width: 100%;
  border: 1px solid white;
}

.logo img {
  width: 150px;
  margin-left: 40px;
}

.redes-sociales ul {
  margin-left: 60px;
  padding: 0;
}

.suscripcion {
  margin-left: 20px;
  margin-right: 60px;
}
.suscripcion button {
  background-color: #00add5; 
  color: #ffffff; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  border-radius: 10px; 
}
.suscripcion button:hover {
  background-color: #007a99; 
}

.suscripcion input {
  padding: 10px;
  border-radius: 10px;
}

.horarios p {
  font-size: small;
  line-height: 0.5;
}

.horarios,
.atajos,
.recomendados,
.ayuda {
  flex: 1;
  margin: 40px;
}

.horarios h3,
.atajos h3,
.recomendados h3,
.ayuda h3 {
  margin-top: 0;
  color: #00add5;
}

.recomendados {
  margin-right: 5px;
}
.ayuda {
  margin-left: 5px;
}
