 
body {
	background-color: #000;
	font-family: "Montserrat", sans-serif;
}

.contenedor_card {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 95vw;
	height: 700px;
	background-color: #fff;
	border-radius: 15px;
	padding: 30px;
	box-sizing: border-box;
}

.producto_card {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1200px;
}

.producto_card_izquierda {
	float: left;
}

.producto_card_izquierda .card_imagenes {
	width: 70px;
	height: 600px;
	display: inline-block;
}

.card_imagenes img {
	width: 60px;
	height: 90px;
	margin: 14px 0;
}

.producto_card_izquierda .card_imagen_principal {
	margin: 0 30px;
	width: 500px;
	height: 600px;
	display: inline-block;
	position: relative;
	top: -30px;
}


.card_imagen_principal > button {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	width: 40px;
	height: 100px;
}

.card_imagen_principal > button:hover {
	background-color: #ccc;
	cursor: pointer;
}

.card_imagen_principal > button:active {
	background-color: #a5a5a5;
	cursor: pointer;
}

.card_imagen_principal .card_flecha_derecha {
	right: 0;
}

.card_imagen_principal img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	height: 550px;
}

.card_imagen_principal .card_botones_abajo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}

.card_botones_abajo button {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: none;
	margin: 0 5px;
}

.card_botones_abajo button:first-child {
	background-color: #686868;
}

.card_botones_abajo button:hover {
	cursor: pointer;
}

.producto_card_derecha {
	float: right;
}

.producto_card_derecha h1 {
	font-size: 40px;
	text-transform: uppercase;
}

.producto_card_derecha p {
	font-size: 20px;
}

.producto_card_derecha a {
	display: inline-block;
	margin-top: 30px;
}

.producto_card_derecha .producto_mediosdepago img {
	width: 60px;
	height: 40px;
	margin: 0 10px;
}

.producto_card_derecha a {
	font-size: 20px;
	text-decoration: none;
}

.producto_card_derecha .producto_costo {
	font-size: 64px;
}

.producto_card_derecha .producto_cuotas {
	font-size: 24px;
	color: #00ADD5;
}

.producto_card_derecha button {
	background-color: #00ADD5;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	border: none;
	width: 300px;
	height: 70px;
	font-weight: 700;
	font-size: 30px;
}

.contenedor_caracteristicas {
	color: #fff;
	position: relative;
}

.contenedor_caracteristicas h2 {
	font-size: 48px;
	text-align: center;
}

.contenedor_caracteristicas table {
	background-color: rgba(255, 255, 255, 0.17);
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #fff;
	border-radius: 20px;
	max-width: 1100px;
	overflow: hidden;
}

.contenedor_caracteristicas table tbody td {
	border-bottom: 1px solid #fff;
	padding: 50px;
	text-align: left;
}

.contenedor_caracteristicas table tbody td:nth-child(1) {
    width: 40%;
	text-align: center;
	font-size: 32px;
}

.contenedor_caracteristicas table tbody td:nth-child(2) {
    width: 60%;
	font-size: 20px;
}
/* -------------------------------------carrusel------------------------------------------- */

    .carousel {
	position: relative;
	width: 100vw;
	height: 650px;
	padding: 50px 30px 0;
	overflow: hidden;
  }
  
  .owl-carousel, .owl-stage {
	height: 500px;
	margin: 0 auto;
  }
  
  .carousel h1 {
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 60px;
  }
  
  .carousel .carousel_card {
	width: 300px;
	height: 470px;
	background-color: #fff;
	padding: 20px;
	border-radius: 14px;
	margin-left: 50px;
  }
  
  .carousel_card img {
	height: 230px;
	width: 80%;
	margin-bottom: 15px;
  }
  
  .carousel_card h4 {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin-bottom: 12px;
  }
  
  .carousel_card h5 {
	font-size: 18px;
	font-weight: 700;
  }
  
  .carousel_card p {
	overflow: hidden;
	height: 66px;
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  .carousel_card button {
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid #00add5;
	color: #00add5;
	border-radius: 32px;
	font-weight: 700;
  }
  














